index2.js
Drum Kit Starting Files/.DS_Store
Drum Kit Starting Files/index.html
Drum Kit Starting Files/index.js
Drum Kit Starting Files/styles.css
Drum Kit Starting Files/images/crash.png
Drum Kit Starting Files/images/kick.png
Drum Kit Starting Files/images/snare.png
Drum Kit Starting Files/images/tom1.png
Drum Kit Starting Files/images/tom2.png
Drum Kit Starting Files/images/tom3.png
Drum Kit Starting Files/images/tom4.png
Drum Kit Starting Files/sounds/crash.mp3
Drum Kit Starting Files/sounds/kick-bass.mp3
Drum Kit Starting Files/sounds/snare.mp3
Drum Kit Starting Files/sounds/tom-1.mp3
Drum Kit Starting Files/sounds/tom-2.mp3
Drum Kit Starting Files/sounds/tom-3.mp3
Drum Kit Starting Files/sounds/tom-4.mp3
